<div class="row">
    <div class="col-xs-3">
        <h4>Website examples</h4>
        <ul>
            <li><a href="https://gonparty.eu/" target="_blank">GoNParty Travel Agency</a></li>
            <li><a href="https://shop.hardisland.com/" target="_blank">Hard Island Festival</a></li>
            <li><a href="https://kalypso-zrce.com/" target="_blank">Kalypso Club</a></li>
            <li><a href="https://pckg.foobar.si/" target="_blank">Pckg docs</a></li>
        </ul>
    </div>
    <div class="col-xs-3">
        <h4>Application examples</h4>
        <ul>
            <li><a href="https://condo.foobar.si/" target="_blank">Condo - release service</a></li>
            <li><a href="https://impero.foobar.si/" target="_blank">Impero - server management</a></li>
            <li><a href="https://chef.foobar.si/">Chef - facebook bot</a></li>
            <li><a href="https://tempus.foobar.si/">Tempus - time tracking service</a></li>
        </ul>
    </div>
    <div class="col-xs-3">
        <h4>See also</h4>
        <ul>
            <li><a href="https://auth.pckg.foobar.si/" target="_blank">Auth</a></li>
            <li><a href="https://payment.pckg.foobar.si/" target="_blank">Payment</a></li>
            <li><a href="https://charts.pckg.foobar.si/" target="_blank">Charts</a></li>
            <li><a href="https://generic.pckg.foobar.si/" target="_blank">Generic</a></li>
            <li><a href="https://htmlbuilder.pckg.foobar.si/" target="_blank">Htmlbuilder</a></li>
            <li><a href="https://import.pckg.foobar.si/" target="_blank">Import</a></li>
            <li><a href="https://helpers.pckg.foobar.si/" target="_blank">JS, CSS & LESS helpers</a></li>
        </ul>
    </div>
    <div class="col-xs-3">
        <h4>Sponsors</h4>
        <ul>
            <li><a href="https://startmaestro.com/" target="_blank">StartMaestro</a></li>
        </ul>
    </div>
</div>