<div class="row">
    <div class="col-xs-3">
        <h4>Website examples</h4>
        <ul>
            <li>gonparty.eu</li>
            <li>shop.hardisland.com</li>
            <li>kalypso-shop.com</li>
            <li>gonparty.xyz</li>
            <li>...</li>
        </ul>
    </div>
    <div class="col-xs-3">
        <h4>Application examples</h4>
        <ul>
            <li>Condo - release service</li>
            <li>Impero - server management</li>
            <li>Chef - facebook bot</li>
        </ul>
    </div>
    <div class="col-xs-3">
        <h4>Sponsors</h4>
        <ul>
            <li>GNP d.o.o.</li>
        </ul>
    </div>
</div>