{% extends 'Pckg/Generic/View/frontend.twig' %}

{% block content %}
    <p>Welcome to pckg documentation.</p>

    <p><b>Starting project:</b>
    <p>$ composer create-project pckg/skeleton . dev-master --prefer-dist –dev<br/>
        $ php console project:init<br/>
        $ bower update<br/>
        $ npm update</p>

    <p><b>Create git repository</b></p>
    <p>$ git init .</p>

    <p><b>Add git remote</b></p>
    <p>$ git remote add origin git@github.com:foo/bar.git

    <p><b>Create initial commit</b></p>
    <p>$ gac “Initial commit”</p>

    <p><b>Create new app</b></p>
    <p>$ php console app:create</p>
{% endblock %}