<ul>
    <li>
        <a href="#">Pckg</a>
        <ul>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Requirements</a>
            </li>
            <li>
                <a href="#">Installation</a>
            </li>
            <li>
                <a href="#">Directory structure</a>
            </li>
            <li>
                <a href="#">Configuration</a>
            </li>
            <li>
                <a href="#">Request timeline</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#">Framework</a>
        <ul>
            <li>
                <a href="#">Environments</a>
                <ul>
                    <li>
                        <a href="#">Production</a>
                    </li>
                    <li>
                        <a href="#">Development</a>
                    </li>
                    <li>
                        <a href="#">Console</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Request</a>
                <ul>
                    <li>
                        <a href="#">Get</a>
                    </li>
                    <li>
                        <a href="#">Post</a>
                    </li>
                    <li>
                        <a href="#">Cookie</a>
                    </li>
                    <li>
                        <a href="#">Session</a>
                    </li>
                    <li>
                        <a href="#">Flash</a>
                    </li>
                    <li>
                        <a href="#">Server</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Response</a>
                <ul>
                    <li>
                        <a href="#">HTML</a>
                    </li>
                    <li>
                        <a href="#">JSON / Ajax</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Urls and routing</a>
                <ul>
                    <li>
                        <a href="#">Routes</a>
                    </li>
                    <li>
                        <a href="#">Groups</a>
                    </li>
                    <li>
                        <a href="#">Resolvers</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Controllers</a>
                <ul>
                    <li>
                        <a href="#">Actions</a>
                    </li>
                    <li>
                        <a href="#">Middlewares</a>
                    </li>
                    <li>
                        <a href="#">Afterwares</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Templating</a>
                <ul>
                    <li>
                        <a href="#">Twig</a>
                    </li>
                    <li>
                        <a href="#">PHP</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Providers</a>
                <ul>
                    <li>
                        <a href="#">Routes</a>
                    </li>
                    <li>
                        <a href="#">Autoloaders</a>
                    </li>
                    <li>
                        <a href="#">Classmaps</a>
                    </li>
                    <li>
                        <a href="#">Providers</a>
                    </li>
                    <li>
                        <a href="#">Apps</a>
                    </li>
                    <li>
                        <a href="#">Consoles</a>
                    </li>
                    <li>
                        <a href="#">Assets</a>
                    </li>
                    <li>
                        <a href="#">Paths</a>
                    </li>
                    <li>
                        <a href="#">Middlewares</a>
                    </li>
                    <li>
                        <a href="#">Afterwares</a>
                    </li>
                    <li>
                        <a href="#">View objects</a>
                    </li>
                    <li>
                        <a href="#">Listeners</a>
                    </li>
                    <li>
                        <a href="#">Jobs</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Events</a>
                <ul>
                    <li>
                        <a href="#">Dispatcher</a>
                    </li>
                    <li>
                        <a href="#">Listeners</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Commands</a>
            </li>
            <li>
                <a href="#">Console</a>
            </li>
            <li>
                <a href="#">Cache</a>
            </li>
            <li>
                <a href="#">Config</a>
            </li>
            <li>
                <a href="#">Localization</a>
            </li>
            <li>
                <a href="#">Internationalization</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#">Collection</a>
    </li>
    <li>
        <a href="#">Database</a>
        <ul>
            <li>
                <a href="#">Configuration</a>
            </li>
            <li>
                <a href="#">Repository</a>
                <ul>
                    <li>
                        <a href="#">PDO</a>
                    </li>
                    <li>
                        <a href="#">Faker</a>
                    </li>
                    <li>
                        <a href="#">Custom</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Entity</a>
            </li>
            <li>
                <a href="#">Record</a>
            </li>
            <li>
                <a href="#">Relation</a>
            </li>
            <li>
                <a href="#">Field</a>
            </li>
            <li>
                <a href="#">Query</a>
            </li>
            <li>
                <a href="#">Extensions</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#">Manager</a>
        <ul>
            <li>
                <a href="#">Asset</a>
            </li>
            <li>
                <a href="#">Locale</a>
            </li>
            <li>
                <a href="#">Cache</a>
            </li>
            <li>
                <a href="#">Gtm</a>
            </li>
            <li>
                <a href="#">Job</a>
            </li>
            <li>
                <a href="#">Meta</a>
            </li>
            <li>
                <a href="#">Page</a>
            </li>
            <li>
                <a href="#">Seo</a>
            </li>
            <li>
                <a href="#">Upload</a>
            </li>
            <li>
                <a href="#">Vue</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#">Migrator</a>
        <ul>
            <li>
                <a href="#">Database</a>
            </li>
            <li>
                <a href="#">Config</a>
            </li>
            <li>
                <a href="#">Data</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#">Queue</a>
        <ul>
            <li>
                <a href="#">Job</a>
            </li>
            <li>
                <a href="#">Queue</a>
            </li>
            <li>
                <a href="#">Cron</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#">Translator</a>
    </li>
    <li>
        <a href="#">Mail</a>
    </li>
    <li>
        <a href="#">Deployment</a>
    </li>
    <li>
        <a href="#">Testing</a>
        <ul>
            <li><a href="#">Codeception</a></li>
            <li><a href="#">Pipelines</a></li>
            <li><a href="#">Circle CI</a></li>
            <li><a href="#">Travis CI</a></li>
            <li><a href="#">Jenkins</a></li>
        </ul>
    </li>
</ul>