.app-quod {
  .position-sidebar {
    ul {
      margin: 1rem 0;
      padding-left: 1.5rem;
      list-style-type: none;
    }
    > ul {
      > li {
        font-weight: bold;
        > ul {
          > li {
            font-weight: normal;
          }
        }
      }
    }
  }
  p {
    &.code {
      margin-bottom: 2rem;
      &.bash {
        background: #eee;
        color: #333;
        border-radius: 1rem;
        padding: .666rem;
      }
    }
    &.note {
      padding: 2rem;
      background: #eee;
      color: #333;
    }
    &.pre {
      font-family: monospace;
      white-space: pre;
    }
  }
  span {
    &.command,
    &.file,
    &.class {
      border-radius: 1rem;
      padding: .2rem .5rem;
      border: 1px solid #ddd;
      background: #eee;
    }
  }
  a {
    &.vendor,
    &.external,
    &.more {
      border-radius: 1rem;
      padding: .2rem .5rem;
      border: 1px solid #ddd;
      background: #eee;
    }
  }
  ul {
    &.related {
      list-style-type: none;
      margin: 0;
      padding: 0;
      &:before,
      &:after {
        content: '';
        display: block;
        clear: both;
      }
      li {
        margin: 0 1rem 0 0;
        padding: 0;
        float: left;
        a {
          border-radius: 1rem;
          padding: .2rem .5rem;
          border: 1px solid #ddd;
          background: #eee;
        }
      }
    }
  }
}